on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      containers:
        required: true
        type: string

jobs:
  release:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}

    permissions:
      contents: read
      id-token: write

    steps:
    - id: auth
      name: Authenticate with GCP
      uses: google-github-actions/auth@v2
      with:
        project_id: '${{ vars.PROJECT_ID }}'
        workload_identity_provider: '${{ vars.WORKLOAD_IDENTITY_PROVIDER }}'
    
    - name: Set up Cloud SDK
      uses: google-github-actions/setup-gcloud@v2

    - name: Set up GKE credentials
      uses: google-github-actions/get-gke-credentials@v2
      with:
        cluster_name: ${{ vars.GKE_CLUSTER }}

    - name: Rollout new image
      run: |
        CONTAINERS=$(echo -n '${{ inputs.containers }}' | sed 's|=|=${{ vars.REGISTRY_URL }}/|g')

        kubectl set image -n ${{ vars.NAMESPACE }} ${{ vars.RESOURCE_TYPE }}/${{ vars.RESOURCE_NAME }} $CONTAINERS

    - name: Wait for rollout
      run: |
        kubectl rollout status -n ${{ vars.NAMESPACE }} ${{ vars.RESOURCE_TYPE }}/${{ vars.RESOURCE_NAME }} --timeout=120s